<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin |Manage Posts
  </title>
  <link rel="stylesheet" href="https://use.typekit.net/nfp7kim.css">
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
  <header>
    <a class="brand" href="">
      <img src="../../images/logo.png" alt="">
    </a>
    <div class="header-nav">
      <nav class="menu-top">
        <ul>
          <li><a href=""><i class="fa fa-user"></i> Iftikhar Rasha</a></li>
          <li class="nav-item">
            <a class="nav-link" href="#">About
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact Us
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="middle-nav">
      <nav class="menu-middle">
        <ul class="path1">
          <li><a href="#">Manage</a></li>
        </ul>
        <ul class="path2">
          <li><a href="#">Bell</a></li>
          <li><a href="#"> Super Admin</a></li>
          <li><a href="#"> Log Out</a></li>
        </ul>
      </nav>
    </div>
    <div class="header-nav">
      <p class="date">
        <span id="datetime">
          27-08-20
        </span>
      </p>
    </div>
  </header>
  <div class="date-bar">
    <p class="date">
      <span id="datetime">
      </span>
    </p>
  </div>
  </div>
  <div class="container">
    <div class="body-content">
      <div class="body-adleft">
        <div class="nav_title" style="border: 0;">
          <a href="" class="site_title"><i class="fa fa-asterisk"></i>
            <span>HOF - ADMIN</span></a>
        </div>
        <div class="body-adleft-1">
          <div class="menu_section">
            <h3></h3>
            <ul class="nav1 side-menu">
              <li>
                <a href="../admin/dashboard.html"><i class="fa fa-home"></i> Home <span
                    class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="../admin/dashboard.html"> Dashboard</a></li>
                </ul>
              </li>

              <li class="active">
                <a href="../post/managepost.html"><i class="fa fa-industry"></i> Posts<span
                    class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: block;">
                  <li style="background-color: #5a728b;"><a href="../post/managepost.html">Manage Posts</a></li>
                  <li><a href="../post/newpost.html">New Post</a></li>
                </ul>
              </li>

              <li>
                <a href="../category/categories.html"><i class="fa fa-stack-overflow"></i> Categories<span
                    class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="../category/categories.html">Category List</a></li>
                </ul>
              </li>


              <li>
                <a href="../users/userlist.html"><i class="fa fa-graduation-cap"></i> Users<span
                    class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="../users/userlist.html">User List</a></li>
                  <li><a href="../users/adduser.html">Add User</a></li>
                </ul>
              </li>


              <li>
                <a href="#"><i class="fa fa-external-link"></i> Mails<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="#">See List</a></li>
                </ul>
              </li>

            </ul>
          </div>


        </div>

        <div class="sidebar-footer">
          <a title="Settings" href="#">
            <span class="fa fa-cog" aria-hidden="true"></span>
          </a>

          <a title="Main Site" href="#">
            <span class="fa fa-phone" aria-hidden="true"></span>
          </a>

          <a title="Main Site" href="#">
            <span class="fa fa-send" aria-hidden="true"></span>
          </a>

          <a title="Logout" href="../../index.html">
            <span class="fa fa-power-off" aria-hidden="true"></span>
          </a>
        </div>


        <!--</div>-->

      </div>
      <div class="body-right">
        <div class="body-deptright-3">
          <table class="body-notice-below">
            <tbody>
              <tr>
                <th>Post Title</th>
                <th>Date</th>
                <th>Time</th>
                <th>Category</th>
                <th>Image</th>
                <th>Description</th>
                <th>Action</th>

              </tr>
              <tr>
                <td>Lorem ipsum dolor sit</td>
                <td>20/07/20</td>
                <td>6:45am</th>
                <td>Admission</th>
                <td>admission.png</th>
                <td>Lorem ipsum dolor sit, amet aadad and he knew sa..</th>
                <td><button title="edit" type="submit"><i class="fa fa-pencil-square-o "></i></button></td>
              </tr>
              <tr>
                <td>Lorem ipsum dolor sit</td>
                <td>20/07/20</td>
                <td>7:05am</th>
                <td>Sports</th>
                <td>Sports.png</th>
                <td>Lorem ipsum dolor sit, amet aadad and he knew sa..</th>
                <td><button title="edit" type="submit"><i class="fa fa-pencil-square-o "></i></button></td>
              </tr>
              <tr>
                <td>Lorem ipsum dolor sit</td>
                <td>20/07/20</td>
                <td>2:21pm</th>
                <td>Result</th>
                <td>Result.png</th>
                <td>Lorem ipsum dolor sit, amet aadad and he knew sa..</th>
                <td><button title="edit" type="submit"><i class="fa fa-pencil-square-o "></i></button></td>
              </tr>
              <tr>
                <td>Lorem ipsum dolor sit</td>
                <td>20/07/20</td>
                <td>6:05am</th>
                <td>Alumni</th>
                <td>Alumni.png</th>
                <td>Lorem ipsum dolor sit, amet aadad and he knew sa..</th>
                <td><button title="edit" type="submit"><i class="fa fa-pencil-square-o "></i></button></td>
              </tr>
              <tr>
                <td>Lorem ipsum dolor sit</td>
                <td>20/07/20</td>
                <td>9:45pm</th>
                <td>Financial</th>
                <td>Financial.png</th>
                <td>Lorem ipsum dolor sit, amet aadad and he knew sa..</th>
                <td><button title="edit" type="submit"><i class="fa fa-pencil-square-o "></i></button></td>
              </tr>
              <tr>
                <td>Lorem ipsum dolor sit</td>
                <td>20/07/20</td>
                <td>11:11am</th>
                <td>Festival</th>
                <td>Festival.png</th>
                <td>Lorem ipsum dolor sit, amet aadad and he knew sa..</th>
                <td><button title="edit" type="submit"><i class="fa fa-pencil-square-o "></i></button></td>
              </tr>
              <tr>
                <td>Lorem ipsum dolor sit</td>
                <td>20/07/20</td>
                <td>6:35pm</th>
                <td>Competition</th>
                <td>admission.png</th>
                <td>Lorem ipsum dolor sit, amet aadad and he knew sa..</th>
                <td><button title="edit" type="submit"><i class="fa fa-pencil-square-o "></i></button></td>
              </tr>


            </tbody>
          </table>
        </div>
        <div class="pagination pg3">
          <a href="#">«</a>
          <a href="#">1</a>
          <a class="active" href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">6</a>
          <a href="#">»</a>
        </div>
      </div>
    </div>
  </div>
  <footer class="foot">
    <p class="comp">nsu.halloffame@info.com
    </p>
    <p class="comp2">+880-1728293845
    </p>
    <p class="comp3">Bashundhara, R/A, Dhaka
    </p>
    <p class="comp4">Developed & Maintained by
    </p>
    <a href="http://www.peacebusters.team/" class="peace">Peacebusters
    </a>
  </footer>
</body>
<script>
  var dt = new Date();
  document.getElementById("datetime").innerHTML = (("0" + dt.getDate()).slice(-2)) + "." + (("0" + (dt.getMonth() + 1)).slice(-2)) + "." + (dt.getFullYear()) + " " + (("0" + dt.getHours()).slice(-2)) + ":" + (("0" + dt.getMinutes()).slice(-2));
</script>

</html>